<% if @companies.any? %>
  <% @companies.each do |company| %>
    <%= company.name %>
    <%= company.website %>
    <%= company.hr_contact %>
    <%= company.hr_contact_email %>
  <% end %>

  <% else %>

    <h2>"No companies yet."</h2>
    <h4><%= link_to('Add company.', new_company_path)%> </h4>

<% end %>

